.grayBackground {
  background: lightgray;
}

.magGlass {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.todaysWeatherHeight {
  height: 50vh;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yello {
  background-color: yellow;
}
